*{
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: Montserrat;
}

.saleContainer {
  display: flex;
  flex-direction: column;
  width: 1360px;
  height: 600px;
  gap: 40px;
  top: 1830px;
  /* Anna */
  position: absolute;
}

p{
  position: absolute;
  font-weight: 700;
  font-size: 64px;
}

.line hr {
  border: 1px solid #DDDDDD;
  width: 1000px;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.saleButton button {
  position: absolute;
top: 95px;
left: 1115px;
background-color: white;
width: 170px;
height: 36px;
border: 1px solid #dddddd;
gap: 10px;
border-radius: 4px;
cursor: pointer;
text-align: center;
}

button a{
  text-decoration: none;
  color: #DDDDDD; 
  font-weight: 500;
  font-size: 16px;
}

.saleButton button:hover {
  background-color: #1f1f1f;
}


.saleContainerHeader {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 5%;
}

.saleCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1360px;
  height: 600px;
  margin-left: 3%;
}

.saleCard {
  width: 290px;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saleCard img{
  max-width: 100%;
  height: auto;
  border: 0px, 0px, 1px, 0px;
}
.discountLabel {
  position: absolute;
  top: 5px;
  right: 5px;
  max-width: 63px;
  height: auto;
  background-color: #F26D22;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  z-index: 1;
}
.description{
  margin:5px;
  /* padding-bottom: 80px; */
}

.title{
  font-weight: 500;
  font-size: 20px;
  /* margin-top: 310px; */
}
.priceInfo{
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.price{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  font-style: 'bold';
}
.dicountPrice{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #8B8B8B;
  position: relative;
  top: 5px;
}

.dicountPrice::after {
  content: '';
  position: absolute;
  bottom: 55%;
  left: 0;
  right: 0;
  border-bottom: 1px solid #8B8B8B; 
  transform: translateY(50%);
}