* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

header {
  display: flex;
  position: relative;
  width: 1440px;
  height: 128px;
  /* background: #fffff1; */
}

/* .header_logo { */
/* display: flex; */
/* width: 300px;
  height: 70px;
} */

.logo&toggle {
  width: 40px;
  height: 30px;
}

.logo&toggle {
  position: absolute;
  padding-top: 30px;
  /* margin: 30px; */
  width: 200px;
  height: 200px;
}

.dark&light {
  padding-top: 40px;
  width: 30px;
  height: 40px;
}

.logo > img {
  /* position: absolute; */
  /* padding-top: 5px; */
  /* padding-bottom: 15px; */
}

img {
  padding-top: 30px;
  /* padding-left: 50px; */
}

#lg{
  left: 50px;
}

.logo {
  width: 50px;
  height: 50px;
}

ul {
  top: 30px;
  padding-left: 130px;
}

/* .active {
  color: rgb(124, 177, 111);
  font-size: 20px;
  font-weight: 700;
} */

nav > ul {
  display: flex;
  position: relative;
  width: 1200px;
  list-style-type: none;
  justify-content: space-evenly;
  text-decoration: none;
}

li {
  padding: 34px 0 34px;
  font-size: 20px;
  font-weight: 500;
}

.header__nav {
  position: relative;
}

button1 {
  position: absolute;
  width: 180px;
  height: 30px;
  color: white;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  background: rgb(147, 165, 77);
  z-index: 3;
  top: 20px;
  left: 730px;
  padding: 5px;
}

/* иконки */

.header_icons {
  display: flex;
  width: 300px;
  height: 70px;
  
}

.iconHeart {
  width: 50px;
  height: 30px;
  left: 40px;
}



