* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
  }
  
  .container {
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: calc(100%-60px);
  }
  
  .contacts{
    gap: 25px;
    padding-top: 20px;
    width: 1360px;
    height: 260px;
    display: grid;
    grid-template-columns: 780px 560px;
    grid-template-rows: 120px 200px;
  }
  
  .phone, .socials, .address, .working_hours{
    border-radius: 10px;
    background-color: rgb(235, 245, 192);
  }
  
  h5 {
    font-weight: 700;
    font-size: 64px;
  }
  
  .contact_title{
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    color: rgb(119, 111, 111);
  }
  
  .contact_info{
    font-weight: 600;
    font-size: 40px;
    margin: 20px;
    color: black;
  }
  
  h6{
    font-weight: 600;
    font-size: 40px;
    margin: 60px;
    color: rgb(86, 78, 78);
    text-decoration: none;
  }
  
  .insta_whatsapp{
    display: flex;
    margin: 20px;
  }
  
  .contact_icons{
    font-size: 40px;
    padding-top: 40px;
    padding-left:30px;
  }