/* .container { */
  main {
    position: relative;
    /* padding-top: 200px; */
  }
  
  .content {
    display: flex;
    margin: 560px 40px;
    padding-left: 30px;
    width: 1360px;
    height: 500px;
    background-color: #87933d;
    border-radius: 10px;
  }
  
   h2 {
    position: absolute;
    font-size: 64px;
    color: #fffff1;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 330px;
  }
  
  .firstName,
  .phoneNumber,
  .email {
    width: 500px;
    height: 58px;
    border: 2px solid #fffff1;
    border-radius: 7px;
    background-color: #87933d;
    font-size: 20px;
    font-weight: 500;
    color: #fffff1;
    background: transparent;
  } 

  .content > img {
    top: 147px;
    position: absolute;
    right: 650px;
    padding-left: 30px;
    width: 700px;
   
  }
  
  .form {
    justify-content: right;
    position: absolute;
    /* bottom: 160px; */
    left: 800px;
  /* } */
    top: 200px;
    right: 1px;
    /* padding-left: 300px; */
  }
  
  form > button {
   
    width: 500px;
    height: 58px;
    border: 2px solid #fffff1;
    border-radius: 7px;
    background-color: #fffff1;
    font-size: 20px;
    font-weight: 500;
    color: rgb(69, 62, 62);
  }
  
  input{
    background: transparent;
  }
  .btn {
    top: 220px;
    right: 130px;
    left: 0px;
    
  }
  
  input {
    display: flex;
    /* width: 600px; 
    gap: 20px; */
  }
  
  

      /* _____________ */
      /* .container {
        position: relative;
      }
      
      .content {
        display: flex;
        margin: 0 20px;
        padding-left: 30px;
        width: 1360px;
        height: 500px;
        background-color: #87933d;
        border-radius: 10px;
      }
      
      h1 {
        position: absolute;
        font-size: 64px;
        color: #fffff1;
        font-weight: 700;
        padding-top: 10px;
        padding-left: 330px;
      }
      .firstName,
      .phoneNumber,
      .email {
        width: 500px;
        height: 58px;
        border: 2px solid #fffff1;
        border-radius: 7px;
        background-color: #87933d;
        font-size: 20px;
        font-weight: 500;
        color: #fffff1;
      }
      
      img {
        position: absolute;
        padding-left: 30px;
        width: 700px;
        padding-top: 163px;
      }
      form {
        justify-content: right;
        position: absolute;
        top: 200px;
        right: 65px;
      }
      
      button {
        width: 505px;
        height: 58px;
        border: 2px solid #fffff1;
        border-radius: 7px;
        background-color: #fffff1;
        font-size: 20px;
        font-weight: 500;
        color: rgb(69, 62, 62);
      }
       */