*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map{
    position: relative;
    width: 1360px;
    left: 30px;
    top: 105px;
}

.location{
    position: absolute;
    top: 200px;
    padding-left: 30px;
    padding-top: 50px;
    top: 20px;
}
