.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .saleCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
  }
  
  .saleCard {
    color: #e51010;
    width: calc(20% - 20px); /*  ширина карточки для отображения 5 в ряд */
    border: 1px solid #e51010;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
  }
  
  .productImage {
    max-width: 50%;
    height: auto;
  }
  
  .description {
    padding: 10px;
  }
  
  .title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .priceInfo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .price {
    font-weight: 600;
    font-size: 24px;
  }
  
  @media (max-width: 1200px) {
    .saleCard {
      width: calc(25% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .saleCard {
      width: calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .saleCard {
      width: calc(50% - 20px);
    }
  }
  





